---
layout: default
---

<article>
  <heading>
    <h1>{{ page.title }}</h1>
  </heading>
  <!-- <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time> -->

  <content>
    {{ content }} {% if page.backlinks.size > 0 %}
    <h2>Related writing</h2>
    <ul>
      {% for backlink in page.backlinks %}
      <li>
        <a
          class="internal-link"
          href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}"
          >{{ backlink.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </content>
</article>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/sidenotes.js"></script>
